// Package secrets implements the Azure ARM Secrets service API version 0.1.0.
//
// Databricks REST API
package secrets

// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

import (
    "context"
    "github.com/Azure/go-autorest/autorest"
    "github.com/Azure/go-autorest/autorest/azure"
    "github.com/Azure/go-autorest/autorest/validation"
    "github.com/Azure/go-autorest/tracing"
    "net/http"
)

const (
// DefaultBaseURI is the default URI used for the service Secrets
DefaultBaseURI = "/api/2.0")

// BaseClient is the base client for Secrets.
type BaseClient struct {
    autorest.Client
    BaseURI string
}

// New creates an instance of the BaseClient client.
func New()BaseClient {
    return NewWithBaseURI(DefaultBaseURI, )
}

// NewWithBaseURI creates an instance of the BaseClient client using a custom endpoint.  Use this when interacting with
// an Azure cloud that uses a non-standard base URI (sovereign clouds, Azure stack).
func NewWithBaseURI(baseURI string, ) BaseClient {
    return BaseClient{
        Client: autorest.NewClientWithUserAgent(UserAgent()),
        BaseURI: baseURI,
    }
}

    // CreateScope sends the create scope request.
    func (client BaseClient) CreateScope(ctx context.Context, body CreateScopeAttributes) (result autorest.Response, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.CreateScope")
            defer func() {
                sc := -1
                if result.Response != nil {
                    sc = result.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
                if err := validation.Validate([]validation.Validation{
                { TargetValue: body,
                 Constraints: []validation.Constraint{	{Target: "body.Scope", Name: validation.Null, Rule: true, Chain: nil }}}}); err != nil {
                return result, validation.NewError("secrets.BaseClient", "CreateScope", err.Error())
                }

                    req, err := client.CreateScopePreparer(ctx, body)
        if err != nil {
        err = autorest.NewErrorWithError(err, "secrets.BaseClient", "CreateScope", nil , "Failure preparing request")
        return
        }

                resp, err := client.CreateScopeSender(req)
                if err != nil {
                result.Response = resp
                err = autorest.NewErrorWithError(err, "secrets.BaseClient", "CreateScope", resp, "Failure sending request")
                return
                }

                result, err = client.CreateScopeResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "secrets.BaseClient", "CreateScope", resp, "Failure responding to request")
                }

        return
        }

        // CreateScopePreparer prepares the CreateScope request.
        func (client BaseClient) CreateScopePreparer(ctx context.Context, body CreateScopeAttributes) (*http.Request, error) {
            preparer := autorest.CreatePreparer(
        autorest.AsContentType("application/json; charset=utf-8"),
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPath("/secrets/scopes/create"),
        autorest.WithJSON(body))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // CreateScopeSender sends the CreateScope request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) CreateScopeSender(req *http.Request) (*http.Response, error) {
                return client.Send(req, autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // CreateScopeResponder handles the response to the CreateScope request. The method always
    // closes the http.Response Body.
    func (client BaseClient) CreateScopeResponder(resp *http.Response) (result autorest.Response, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK),
        autorest.ByClosing())
        result.Response = resp
            return
        }

    // Delete sends the delete request.
    func (client BaseClient) Delete(ctx context.Context, body Attributes) (result autorest.Response, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.Delete")
            defer func() {
                sc := -1
                if result.Response != nil {
                    sc = result.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
                if err := validation.Validate([]validation.Validation{
                { TargetValue: body,
                 Constraints: []validation.Constraint{	{Target: "body.Scope", Name: validation.Null, Rule: true, Chain: nil },
                	{Target: "body.Key", Name: validation.Null, Rule: true, Chain: nil }}}}); err != nil {
                return result, validation.NewError("secrets.BaseClient", "Delete", err.Error())
                }

                    req, err := client.DeletePreparer(ctx, body)
        if err != nil {
        err = autorest.NewErrorWithError(err, "secrets.BaseClient", "Delete", nil , "Failure preparing request")
        return
        }

                resp, err := client.DeleteSender(req)
                if err != nil {
                result.Response = resp
                err = autorest.NewErrorWithError(err, "secrets.BaseClient", "Delete", resp, "Failure sending request")
                return
                }

                result, err = client.DeleteResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "secrets.BaseClient", "Delete", resp, "Failure responding to request")
                }

        return
        }

        // DeletePreparer prepares the Delete request.
        func (client BaseClient) DeletePreparer(ctx context.Context, body Attributes) (*http.Request, error) {
            preparer := autorest.CreatePreparer(
        autorest.AsContentType("application/json; charset=utf-8"),
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPath("/secrets/delete"),
        autorest.WithJSON(body))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // DeleteSender sends the Delete request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) DeleteSender(req *http.Request) (*http.Response, error) {
                return client.Send(req, autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // DeleteResponder handles the response to the Delete request. The method always
    // closes the http.Response Body.
    func (client BaseClient) DeleteResponder(resp *http.Response) (result autorest.Response, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK),
        autorest.ByClosing())
        result.Response = resp
            return
        }

    // DeleteAcls sends the delete acls request.
    func (client BaseClient) DeleteAcls(ctx context.Context, body AclsAttributes) (result autorest.Response, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.DeleteAcls")
            defer func() {
                sc := -1
                if result.Response != nil {
                    sc = result.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
                if err := validation.Validate([]validation.Validation{
                { TargetValue: body,
                 Constraints: []validation.Constraint{	{Target: "body.Scope", Name: validation.Null, Rule: true, Chain: nil },
                	{Target: "body.Principal", Name: validation.Null, Rule: true, Chain: nil }}}}); err != nil {
                return result, validation.NewError("secrets.BaseClient", "DeleteAcls", err.Error())
                }

                    req, err := client.DeleteAclsPreparer(ctx, body)
        if err != nil {
        err = autorest.NewErrorWithError(err, "secrets.BaseClient", "DeleteAcls", nil , "Failure preparing request")
        return
        }

                resp, err := client.DeleteAclsSender(req)
                if err != nil {
                result.Response = resp
                err = autorest.NewErrorWithError(err, "secrets.BaseClient", "DeleteAcls", resp, "Failure sending request")
                return
                }

                result, err = client.DeleteAclsResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "secrets.BaseClient", "DeleteAcls", resp, "Failure responding to request")
                }

        return
        }

        // DeleteAclsPreparer prepares the DeleteAcls request.
        func (client BaseClient) DeleteAclsPreparer(ctx context.Context, body AclsAttributes) (*http.Request, error) {
            preparer := autorest.CreatePreparer(
        autorest.AsContentType("application/json; charset=utf-8"),
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPath("/secrets/acls/delete"),
        autorest.WithJSON(body))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // DeleteAclsSender sends the DeleteAcls request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) DeleteAclsSender(req *http.Request) (*http.Response, error) {
                return client.Send(req, autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // DeleteAclsResponder handles the response to the DeleteAcls request. The method always
    // closes the http.Response Body.
    func (client BaseClient) DeleteAclsResponder(resp *http.Response) (result autorest.Response, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK),
        autorest.ByClosing())
        result.Response = resp
            return
        }

    // DeleteScope sends the delete scope request.
    func (client BaseClient) DeleteScope(ctx context.Context, body DeleteScopeAttributes) (result autorest.Response, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.DeleteScope")
            defer func() {
                sc := -1
                if result.Response != nil {
                    sc = result.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
                if err := validation.Validate([]validation.Validation{
                { TargetValue: body,
                 Constraints: []validation.Constraint{	{Target: "body.Scope", Name: validation.Null, Rule: true, Chain: nil }}}}); err != nil {
                return result, validation.NewError("secrets.BaseClient", "DeleteScope", err.Error())
                }

                    req, err := client.DeleteScopePreparer(ctx, body)
        if err != nil {
        err = autorest.NewErrorWithError(err, "secrets.BaseClient", "DeleteScope", nil , "Failure preparing request")
        return
        }

                resp, err := client.DeleteScopeSender(req)
                if err != nil {
                result.Response = resp
                err = autorest.NewErrorWithError(err, "secrets.BaseClient", "DeleteScope", resp, "Failure sending request")
                return
                }

                result, err = client.DeleteScopeResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "secrets.BaseClient", "DeleteScope", resp, "Failure responding to request")
                }

        return
        }

        // DeleteScopePreparer prepares the DeleteScope request.
        func (client BaseClient) DeleteScopePreparer(ctx context.Context, body DeleteScopeAttributes) (*http.Request, error) {
            preparer := autorest.CreatePreparer(
        autorest.AsContentType("application/json; charset=utf-8"),
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPath("/secrets/scopes/delete"),
        autorest.WithJSON(body))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // DeleteScopeSender sends the DeleteScope request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) DeleteScopeSender(req *http.Request) (*http.Response, error) {
                return client.Send(req, autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // DeleteScopeResponder handles the response to the DeleteScope request. The method always
    // closes the http.Response Body.
    func (client BaseClient) DeleteScopeResponder(resp *http.Response) (result autorest.Response, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK),
        autorest.ByClosing())
        result.Response = resp
            return
        }

    // GetAcls sends the get acls request.
    func (client BaseClient) GetAcls(ctx context.Context, body AclsAttributes) (result AclsResult, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.GetAcls")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
                if err := validation.Validate([]validation.Validation{
                { TargetValue: body,
                 Constraints: []validation.Constraint{	{Target: "body.Scope", Name: validation.Null, Rule: true, Chain: nil },
                	{Target: "body.Principal", Name: validation.Null, Rule: true, Chain: nil }}}}); err != nil {
                return result, validation.NewError("secrets.BaseClient", "GetAcls", err.Error())
                }

                    req, err := client.GetAclsPreparer(ctx, body)
        if err != nil {
        err = autorest.NewErrorWithError(err, "secrets.BaseClient", "GetAcls", nil , "Failure preparing request")
        return
        }

                resp, err := client.GetAclsSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "secrets.BaseClient", "GetAcls", resp, "Failure sending request")
                return
                }

                result, err = client.GetAclsResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "secrets.BaseClient", "GetAcls", resp, "Failure responding to request")
                }

        return
        }

        // GetAclsPreparer prepares the GetAcls request.
        func (client BaseClient) GetAclsPreparer(ctx context.Context, body AclsAttributes) (*http.Request, error) {
            preparer := autorest.CreatePreparer(
        autorest.AsContentType("application/json; charset=utf-8"),
        autorest.AsGet(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPath("/secrets/acls/get"),
        autorest.WithJSON(body))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // GetAclsSender sends the GetAcls request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) GetAclsSender(req *http.Request) (*http.Response, error) {
                return client.Send(req, autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // GetAclsResponder handles the response to the GetAcls request. The method always
    // closes the http.Response Body.
    func (client BaseClient) GetAclsResponder(resp *http.Response) (result AclsResult, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // List sends the list request.
    func (client BaseClient) List(ctx context.Context, body ListSecretsAttributes) (result ListResult, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.List")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
                if err := validation.Validate([]validation.Validation{
                { TargetValue: body,
                 Constraints: []validation.Constraint{	{Target: "body.Scope", Name: validation.Null, Rule: true, Chain: nil }}}}); err != nil {
                return result, validation.NewError("secrets.BaseClient", "List", err.Error())
                }

                    req, err := client.ListPreparer(ctx, body)
        if err != nil {
        err = autorest.NewErrorWithError(err, "secrets.BaseClient", "List", nil , "Failure preparing request")
        return
        }

                resp, err := client.ListSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "secrets.BaseClient", "List", resp, "Failure sending request")
                return
                }

                result, err = client.ListResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "secrets.BaseClient", "List", resp, "Failure responding to request")
                }

        return
        }

        // ListPreparer prepares the List request.
        func (client BaseClient) ListPreparer(ctx context.Context, body ListSecretsAttributes) (*http.Request, error) {
            preparer := autorest.CreatePreparer(
        autorest.AsContentType("application/json; charset=utf-8"),
        autorest.AsGet(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPath("/secrets/list"),
        autorest.WithJSON(body))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // ListSender sends the List request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) ListSender(req *http.Request) (*http.Response, error) {
                return client.Send(req, autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // ListResponder handles the response to the List request. The method always
    // closes the http.Response Body.
    func (client BaseClient) ListResponder(resp *http.Response) (result ListResult, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // ListAcls sends the list acls request.
    func (client BaseClient) ListAcls(ctx context.Context, body ListSecretAclsAttributes) (result ListSecretAclsResult, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.ListAcls")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.ListAclsPreparer(ctx, body)
        if err != nil {
        err = autorest.NewErrorWithError(err, "secrets.BaseClient", "ListAcls", nil , "Failure preparing request")
        return
        }

                resp, err := client.ListAclsSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "secrets.BaseClient", "ListAcls", resp, "Failure sending request")
                return
                }

                result, err = client.ListAclsResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "secrets.BaseClient", "ListAcls", resp, "Failure responding to request")
                }

        return
        }

        // ListAclsPreparer prepares the ListAcls request.
        func (client BaseClient) ListAclsPreparer(ctx context.Context, body ListSecretAclsAttributes) (*http.Request, error) {
            preparer := autorest.CreatePreparer(
        autorest.AsContentType("application/json; charset=utf-8"),
        autorest.AsGet(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPath("/secrets/acls/list"),
        autorest.WithJSON(body))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // ListAclsSender sends the ListAcls request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) ListAclsSender(req *http.Request) (*http.Response, error) {
                return client.Send(req, autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // ListAclsResponder handles the response to the ListAcls request. The method always
    // closes the http.Response Body.
    func (client BaseClient) ListAclsResponder(resp *http.Response) (result ListSecretAclsResult, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // ListScopes sends the list scopes request.
    func (client BaseClient) ListScopes(ctx context.Context) (result ListScopesResult, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.ListScopes")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.ListScopesPreparer(ctx)
        if err != nil {
        err = autorest.NewErrorWithError(err, "secrets.BaseClient", "ListScopes", nil , "Failure preparing request")
        return
        }

                resp, err := client.ListScopesSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "secrets.BaseClient", "ListScopes", resp, "Failure sending request")
                return
                }

                result, err = client.ListScopesResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "secrets.BaseClient", "ListScopes", resp, "Failure responding to request")
                }

        return
        }

        // ListScopesPreparer prepares the ListScopes request.
        func (client BaseClient) ListScopesPreparer(ctx context.Context) (*http.Request, error) {
            preparer := autorest.CreatePreparer(
        autorest.AsGet(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPath("/secrets/scopes/list"))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // ListScopesSender sends the ListScopes request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) ListScopesSender(req *http.Request) (*http.Response, error) {
                return client.Send(req, autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // ListScopesResponder handles the response to the ListScopes request. The method always
    // closes the http.Response Body.
    func (client BaseClient) ListScopesResponder(resp *http.Response) (result ListScopesResult, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // Put sends the put request.
    func (client BaseClient) Put(ctx context.Context, body Attributes) (result autorest.Response, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.Put")
            defer func() {
                sc := -1
                if result.Response != nil {
                    sc = result.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
                if err := validation.Validate([]validation.Validation{
                { TargetValue: body,
                 Constraints: []validation.Constraint{	{Target: "body.Scope", Name: validation.Null, Rule: true, Chain: nil },
                	{Target: "body.Key", Name: validation.Null, Rule: true, Chain: nil }}}}); err != nil {
                return result, validation.NewError("secrets.BaseClient", "Put", err.Error())
                }

                    req, err := client.PutPreparer(ctx, body)
        if err != nil {
        err = autorest.NewErrorWithError(err, "secrets.BaseClient", "Put", nil , "Failure preparing request")
        return
        }

                resp, err := client.PutSender(req)
                if err != nil {
                result.Response = resp
                err = autorest.NewErrorWithError(err, "secrets.BaseClient", "Put", resp, "Failure sending request")
                return
                }

                result, err = client.PutResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "secrets.BaseClient", "Put", resp, "Failure responding to request")
                }

        return
        }

        // PutPreparer prepares the Put request.
        func (client BaseClient) PutPreparer(ctx context.Context, body Attributes) (*http.Request, error) {
            preparer := autorest.CreatePreparer(
        autorest.AsContentType("application/json; charset=utf-8"),
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPath("/secrets/put"),
        autorest.WithJSON(body))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // PutSender sends the Put request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) PutSender(req *http.Request) (*http.Response, error) {
                return client.Send(req, autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // PutResponder handles the response to the Put request. The method always
    // closes the http.Response Body.
    func (client BaseClient) PutResponder(resp *http.Response) (result autorest.Response, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK),
        autorest.ByClosing())
        result.Response = resp
            return
        }

    // PutAcls sends the put acls request.
    func (client BaseClient) PutAcls(ctx context.Context, body PutSecretAclsAttributes) (result autorest.Response, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.PutAcls")
            defer func() {
                sc := -1
                if result.Response != nil {
                    sc = result.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
                if err := validation.Validate([]validation.Validation{
                { TargetValue: body,
                 Constraints: []validation.Constraint{	{Target: "body.Scope", Name: validation.Null, Rule: true, Chain: nil },
                	{Target: "body.Principal", Name: validation.Null, Rule: true, Chain: nil }}}}); err != nil {
                return result, validation.NewError("secrets.BaseClient", "PutAcls", err.Error())
                }

                    req, err := client.PutAclsPreparer(ctx, body)
        if err != nil {
        err = autorest.NewErrorWithError(err, "secrets.BaseClient", "PutAcls", nil , "Failure preparing request")
        return
        }

                resp, err := client.PutAclsSender(req)
                if err != nil {
                result.Response = resp
                err = autorest.NewErrorWithError(err, "secrets.BaseClient", "PutAcls", resp, "Failure sending request")
                return
                }

                result, err = client.PutAclsResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "secrets.BaseClient", "PutAcls", resp, "Failure responding to request")
                }

        return
        }

        // PutAclsPreparer prepares the PutAcls request.
        func (client BaseClient) PutAclsPreparer(ctx context.Context, body PutSecretAclsAttributes) (*http.Request, error) {
            preparer := autorest.CreatePreparer(
        autorest.AsContentType("application/json; charset=utf-8"),
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPath("/secrets/acls/put"),
        autorest.WithJSON(body))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // PutAclsSender sends the PutAcls request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) PutAclsSender(req *http.Request) (*http.Response, error) {
                return client.Send(req, autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // PutAclsResponder handles the response to the PutAcls request. The method always
    // closes the http.Response Body.
    func (client BaseClient) PutAclsResponder(resp *http.Response) (result autorest.Response, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK),
        autorest.ByClosing())
        result.Response = resp
            return
        }

